<div class="forgot_password-wrapper">
  <div class="forgot_password-box">
    <h3>Forgot Password</h3>
    <p class="service-info"><%- message || null %></p>

    <form action="/auth/forgot-password" method="POST">
      <div class="input-group">
        <label for="email"><b>Email address</b></label>
        <input type="email" id="email" name="email" value="<%- email || null %>" placeholder="example@mail.com"
          required>
        <p id="forgotEmailError"><%- emailError %></p>
      </div>
      <button type="submit" id="resetPassBtn">Reset Password</button>
    </form>

    <p class="sign_in-link">
      Back to
      <a href="/auth/sign-in">Sign In</a>
    </p>
  </div>
</div>