<!-- Auth cards wrapper -->
<main class="fluid auth__wrapper">

  <!-- Form Card -->
  <div class="container reset__password">
    <div class="auth__header">
      <h5>Reset Password</h5>
    </div>

    <!-- Main Form -->
    <form class="fluid" action="/auth/reset-password/<%= token %>" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
        <% if (notValidPassword) { %>
          <p id="resetPassError">
            <%= notValidPassword %>
          </p>
          <% } %>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <% if (passMismatch) { %>
          <p>
            <%= passMismatch %>
          </p>
          <% } %>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <button type="submit" id="resetPassBtn">Reset Password</button>
      </div>
    </form>
  </div>
  </div>