<div class="reset_password-wrapper">
  <div class="reset_password-box">
    <h3>Reset Password</h3>

    <form action="/auth/reset-password/<%= token %>" method="POST">
      <div class="input-group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
        <% if (notValidPassword) { %>
          <p id="resetPassError">
            <%= notValidPassword %>
          </p>
          <% } %>
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <% if (passMismatch) { %>
          <p>
            <%= passMismatch %>
          </p>
          <% } %>
      </div>
      <button type="submit" id="resetPassBtn">Reset Password</button>
    </form>
  </div>
</div>