<main class="verify-wrapper">
  <div class="verification">
    <h4>Email Verification</h4>
    <p>To access this feature, please verify your email address.</p>
    <p>We've sent a verification link to your email address.<br />Please check your inbox and click the link to verify.
    </p>

    <div class="verify-actions">
      <button id="resendBtn" class="btn resend-btn">
        <i class="fa-solid fa-envelope"></i>
        Resend
      </button>
      <a href="/" class="btn home-btn">
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </div>
  </div>
</main>

<%- include('../../partials/footer.ejs') %>

  <div id="resendMessage" class="mt-3" style="display: none;"></div>

  <!-- Add varifiaction related Client side scripts -->
  <script type="text/javascripts" defer src="/javascripts/auth/verification.js"></script>