<header class="banner">
  <h1 class="banner-heading">
    Welcome to Blogify &ndash; Your Voice, Your Platform
  </h1>
  <p class="banner-sub_heading">
    Discover, express, and share your stories with the world. From personal
    reflections to professional insights,<br />Blogify is where your thoughts find a
    home.
  </p>
  <div class="banner_buttons">
    <a href="users/dashboard" class="get_start-btn">
      <i class="fa-solid fa-rocket"></i>
      Get started
    </a>
    <a href="/" class="explore-btn">
      <i class="fa-solid fa-tree"></i>
      Explore
    </a>
  </div>
</header>