<header class="container banner">
  <h1 class="heading">
    Welcome to Blogify &ndash; Your Voice, Your Platform
  </h1>
  <p class="sub__heading">
    Discover, express, and share your stories with the world. From personal
    reflections to professional insights,<br />Blogify is where your thoughts find a
    home.
  </p>
  <div class="inline__container banner__buttons">
    <a href="users/dashboard" class="inline__container link__btn btn-primary">
      <i class="fa-solid fa-rocket"></i>
      Get started
    </a>
    <a href="/explore" class="inline__container link__btn btn-secondary">
      <i class="fa-solid fa-compass"></i>
      Explore
    </a>
  </div>
</header>