<section class="container partners">
  <h4>
    <i class="fa-solid fa-handshake-angle"></i>
    Our Built-in Partners
  </h4>

  <div class="logo__wrapper">
    <div class="logo__container">
      <a href="https://www.markdownguide.org/" target="_blank" rel="noreferrer noopener">
        <img class="brand__logo" src="/icons/partners/markdown-dark.svg" alt="Partner Logo" data-partner="markdown"
          title="Markdown Guide" />
      </a>
    </div>
    <div class="logo__container">
      <a href="https://expressjs.com/" target="_blank" rel="noreferrer noopener">
        <img class="brand__logo" src="/icons/partners/expressjs-dark.svg" alt="Partner Logo" data-partner="expressjs"
          title="ExpressJS" />
      </a>
    </div>
    <div class="logo__container">
      <a href="https://nodejs.org/en/" target="_blank" rel="noreferrer noopener">
        <img class="brand__logo" src="/icons/partners/nodejs-dark.svg" alt="Partner Logo" data-partner="nodejs"
          title="NodeJS" />
      </a>
    </div>
    <div class="logo__container">
      <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer noopener">
        <img class="brand__logo" src="/icons/partners/mongodb-dark.svg" alt="Partner Logo" data-partner="mongodb"
          title="MongoDB" />
      </a>
    </div>
    <div class="logo__container">
      <a href="https://cloudinary.com/" target="_blank" rel="noreferrer noopener">
        <img class="brand__logo" src="/icons/partners/cloudinary-dark.svg" alt="Partner Logo" data-partner="cloudinary"
          title="Cloudinary" />
      </a>
    </div>
  </div>
</section>