<!-- views/partials/partners.ejs -->
<section class="container partners">
  <h4>
    <i class="fa-solid fa-handshake-angle"></i>
    Our Trusted Partners
  </h4>

  <div class="partners__grid">
    <div class="logo__wrapper">
      <img src="/images/partners/nodejsLight.svg" alt="Partner Logo" />
    </div>
    <div class="logo__wrapper">
      <img src="/images/partners/Expressjs.png" alt="Partner Logo" />
    </div>
    <div class="logo__wrapper">
      <img src="/images/partners/MongoDB_Fores-Green.svg" alt="Partner Logo" />
    </div>
    <div class="logo__wrapper">
      <img src="/images/partners/cloudinary__logo.png" alt="Partner Logo" />
    </div>
    <div class="logo__wrapper">
      <img src="/images/partners/cloudinary__logo.png" alt="Partner Logo" />
    </div>
  </div>
</section>