<section class="container platform__stats">
  <h4>
    <i class="fa-solid fa-chart-line"></i>
    Our Reach & Impact
  </h4>

  <div class="stats__grid">
    <div class="stat__card main">
      <div class="icon--wrapper">
        <i class="fa-solid fa-newspaper"></i>
      </div>
      <p class="stat__number" data-count="5000">0</p>
      <p>Blogs Written</p>
    </div>

    <div class="stat__card primary">
      <div class="icon--wrapper">
        <i class="fa-solid fa-users"></i>
      </div>
      <p class="stat__number" data-count="1000">0</p>
      <p>Registered Users</p>
    </div>

    <div class="stat__card secondary">
      <div class="icon--wrapper">
        <i class="fa-solid fa-tags"></i>
      </div>
      <p class="stat__number" data-count="200">0</p>
      <p>Topics & Categories</p>
    </div>
  </div>
</section>

<script type="text/javascript" src="/javascripts/components/stats-counter.js" nonce="<%= nonce %>"></script>