<% if (signIn) { %>
  <li>
    <a href="/auth/sign-out" class="<%= activeRoute ? activeRoute('/auth/sign-out', path) : '' %>">
      Sign Out
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </li>
  <% } else { %>
    <li>
      <a href="/auth/sign-in" class="<%= activeRoute ? activeRoute('/auth/sign-in', path) : '' %>">
        <i class="fa-solid fa-user-tie"></i>
        Sign In
      </a>
    </li>
    <% } %>