<div class="brand-logo">
  <a href="/">
    <img src="/images/blogify-logo-light.png" alt="Blogify" class="logo" width="32" height="32" />
    <span class="logo-typography">Blogify</span>
  </a>
</div>