<div class="empty_post-wrapper">
  <div class="empty_post-card">
    <i>📭</i>
    <h4>Oppss! No blogs found.</h4>
    <p>It looks like there has no blogs yet, you can add one.</p>
    <a href="/users/dashboard/add" class="create-btn">Add a post</a>
  </div>
</div>