<div class="fluid empty__post-wrapper">
  <!-- Card / Empty post card -->
  <div class="card empty__post">
    <i class="fa-solid fa-file-excel"></i>
    <h5>Oops! No blogs found.</h5>
    <p>It looks like there are no post yet. You can start writing one now!</p>
    <a href="/users/dashboard/add" class="link__btn empty__post-btn">
      <i class="fa-solid fa-pen-to-square"></i>
      Add a new post
    </a>
  </div>
</div>