<div class="empty_post-wrapper">
  <div class="empty_post-card">
    <i class="fa-solid fa-file-excel"></i>
    <h4>Oops! No blogs found.</h4>
    <p>It looks like there are no post yet. You can start writing one now!</p>
    <a href="/users/dashboard/add" class="empty_post--btn">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>Add a new post</span>
    </a>
  </div>
</div>