<search>
  <form id="searchForm" action="/search" class="inline__container search__form" role="search" method="post">
    <button type="submit" id="searchBtn" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="search" name="search__input" id="searchInput" aria-label="Search blogs"
      placeholder="Search blogs here" />
  </form>
</search>