<search>
  <form id="searchForm" action="/" class="inline__container search__form" role="search" method="GET">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <button type="submit" id="searchBtn" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="search" name="search" id="searchInput" aria-label="Search blogs" placeholder="Search blogs here" />
  </form>
</search>
