.auth__wrapper {
  min-height: calc(100dvh - 53px);
  margin-block: 0;
  justify-content: center;

  & .sign__in,
  .sign__up,
  .forgot__password,
  .reset__password,
  .verification {
    max-width: 480px;
    padding-inline: clamp(0.5rem, 2vw, 1.5rem);
    background-color: var(--color-accent);

    & .auth__header {
      width: 100%;
      & p {
        color: var(--fg-muted);
      }
      & p.service-info {
        color: var(--color-success);
        font-weight: 600;
        text-align: center;
      }
    }

    & form {
      align-items: normal;
      & .form__group {
        align-items: flex-start;
        gap: 0.25rem;

        & label {
          font-size: var(--font-sm);
        }

        & p {
          width: 100%;
          font-size: var(--font-sm);
          color: var(--color-error);
          text-align: center;
        }

        & button {
          width: 100%;
          background-color: var(--color-info);
          &:hover {
            background-color: var(--info-popover);
          }
        }
      }
    }
    & .auth__footer {
      width: 100%;
      & .sign__up-link,
      .sign__in-link,
      .condition-links,
      .forgot__password-link {
        width: 100%;
        text-align: center;
        & a {
          color: var(--color-info);
          text-decoration: none;
          font-weight: 500;
          transition: var(--transition);
          &:hover {
            color: var(--info-popover);
          }
        }
      }
    }
  }

  & .verification {
    & p {
      color: var(--fg-muted);
      &.verify__inform {
        color: var(--color-info);
      }
    }
    & .verify-actions {
      width: 100%;
      justify-content: center;
      gap: clamp(1rem, 2vw, 2.5rem);

      & .resend__btn {
        background-color: var(--color-warning);
        &:hover {
          background-color: var(--warning-popover);
        }
      }

      & .home__btn {
        color: var(--fg-inverse);
        background-color: var(--color-primary);
        transition: opacity 250ms ease;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .auth__wrapper {
    & .sign__in,
    .sign__up,
    .forgot__password,
    .reset__password,
    .verification {
      width: calc(100vw - 4vw);
      margin-inline: auto;
    }
  }
}
