.back_btn {
  width: fit-content;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--accent);
  margin-top: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: var(--transition);
  &:hover {
    color: var(--popover-foreground);
    background-color: var(--popover);
  }
}

@media screen and (max-width: 1536px) {
  .back_btn {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .back_btn {
    margin: 1rem 0.5rem;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .back_btn {
    padding: 0.5rem 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .back_btn {
    font-size: var(--sm);
    padding: 0.25rem 0.625rem;
    gap: 0.25rem;
  }
}
