.banner {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .banner-heading {
    margin-bottom: 1.5rem;
    color: transparent;
    background-image: var(--gold-grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .banner-sub_heading {
    font-size: var(--lg);
    font-weight: 500;
  }

  & .banner_buttons {
    width: fit-content;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    & a {
      width: 160px;
      cursor: pointer;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      border-radius: 3rem;
      transition: var(--transition);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    & .get_start-btn {
      background-color: var(--blue);
      border: 1px solid var(--blue-light);
      &:hover {
        background-color: var(--blue-dark);
        border-color: var(--blue);
      }
    }

    & .explore-btn {
      border: 1px solid var(--black-II);
      &:hover {
        background-color: var(--trans-white-I);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    padding: 4rem 1rem;
    & .banner-heading {
      font-size: var(--3xl);
      font-weight: 800;
      margin-bottom: 1.25rem;
    }
    & .banner-sub_heading {
      font-size: var(--lg);
      font-weight: 500;
      line-height: 1.5;
      & br {
        display: none;
      }
    }
    & .banner_buttons {
      margin-top: 1.25rem;
      gap: 1.25rem;

      & a {
        padding: 0.4rem 1.25rem;
        border-radius: 2.5rem;
        gap: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 3rem 1rem;
    & .banner-heading {
      font-size: var(--2xl);
      font-weight: 800;
      margin-bottom: 1rem;
    }
    & .banner-sub_heading {
      font-size: var(--md);
      font-weight: 500;
      line-height: 1.5;
    }
    & .banner_buttons {
      margin-top: 1rem;
      gap: 1rem;

      & a {
        padding: 0.4rem 1.25rem;
        border-radius: 2.5rem;
        gap: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 2.5rem 0.5rem;
    & .banner-heading {
      font-size: var(--xl);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    & .banner-sub_heading {
      font-size: var(--nm);
      font-weight: 400;
      line-height: 1.5;
    }
    & .banner_buttons {
      margin-top: 1.5rem;
      gap: 1rem;

      & a {
        width: 140px;
        font-size: var(--sm);
        padding: 0.25rem 1rem;
        border-radius: 2rem;
        gap: 0.25rem;
      }
    }
  }
}
