.banner {
  gap: 0;
  background-color: var(--bg-blue);

  & .heading {
    color: transparent;
    background-image: var(--gradient-info);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .sub__heading {
    font-size: var(--font-md);
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  & .banner__buttons {
    gap: clamp(1rem, 1.5vw, 2.5rem);
    & .get__started,
    .explore {
      width: clamp(8rem, 20vw, 10.125rem) !important;
    }
    & .get__started {
      background-color: var(--color-info);
      &:hover {
        color: var(--fg);
        background-color: var(--info-popover);
      }
    }
    & .explore {
      transition: var(--transition-bg-color);
      &:hover {
        color: var(--fg);
        background-color: var(--bg-popover);
      }
    }
  }
}
