.blog {
  background-color: var(--color-accent);
  & .blog__title {
    width: 100%;
    text-align: start;
  }

  & .blog__credits {
    width: 100%;
    & .blog__author {
      background-color: var(--bg-purple);
      & a {
        color: var(--purple);
        &:hover {
          color: var(--fuchsia);
        }
      }
    }

    & .blog__date {
      color: var(--blue);
      background: var(--bg-blue);
    }
  }

  & .blog__contents {
    width: 100%;
    min-height: 60dvh;
    padding-block: clamp(0.5rem, 0.8vw, 1rem);
    border-block: var(--border);
    text-align: start;
    & img {
      width: initial;
      max-width: 100%;
      height: auto;
      border: 0;
      border-radius: clamp(0.25rem, 0.5vw, 0.5rem);
      margin-block: clamp(0.5rem, 0.8vw, 1rem);
    }
    & h2 {
      font-size: var(--font-lg);
      font-weight: 700;
    }
    & h3 {
      font-size: var(--font-md);
      font-weight: 600;
    }
    & a {
      color: var(--blue);
      text-decoration: underline;
      &:hover {
        color: var(--fuchsia);
      }
      &:visited {
        color: var(--purple);
      }
    }
  }
  & .blog-interactions {
    width: 100%;
    justify-content: flex-start;
    & button {
      width: max-content;
      padding-block: clamp(0.25rem, 0.5vw, 0.5rem);
      padding-inline: clamp(0.5rem, 1vw, 1rem);
      background-color: transparent;
      gap: clamp(0.125rem, 0.2vw, 0.25rem);
      transition: var(--transition-color);
      &:hover {
        box-shadow: none;
        & i {
          color: var(--fuchsia);
        }
      }

      & i {
        font-size: var(--font-md);
        transition: var(--transition-color);
      }

      &.active i {
        color: var(--blue);
      }

      &.dislike i {
        transform: scaleX(-1);
      }
    }
  }
}
