.empty__post-wrapper {
  width: 100%;
  height: inherit;
  padding-block: clamp(1rem, 1.2vw, 1.5rem);
  border-block: var(--border);
  justify-content: center;
  & .empty__post {
    max-width: 480px;
    background-color: var(--bg-card);
    & i {
      font-size: var(--font-3xl);
    }
    & h5 {
      margin: 0;
    }
  }
  & p {
    color: var(--fg-muted);
  }
  & .empty__post-btn {
    margin-inline: auto;
    color: var(--fg-inverse);
    background-color: var(--color-primary);
    transition: opacity 250ms ease;
    &:hover {
      opacity: 0.75;
    }
    & i {
      font-size: var(--font-sm);
      margin: 0;
    }
  }
}
