footer {
  width: 100%;
  border-top: 1px dashed var(--border);
  margin-top: 2.5rem;
  background-color: var(--accent);
  box-shadow: var(--shadow-top);

  & .contents-wrapper {
    width: 100%;
    max-width: var(--max-width);
    padding-block: 5rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    & .group-1,
    .group-2 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;

      & .contents-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        & .devs-intro {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.625rem;
          text-align: center;
        }

        & p {
          text-align: center;
        }

        & .media-links {
          width: 100%;
          display: flex;
          place-content: center;
          gap: 1rem;

          & a {
            text-decoration: none;
            &:active {
              color: var(--fuschia);
            }

            & i {
              font-size: var(--lg);
              transition: var(--transition);

              &:hover {
                color: var(--fuschia);
              }
            }
          }
        }

        & .footer-links {
          list-style: none;
          width: 100%;
          display: flex;
          flex-direction: column;
          place-items: center;
          gap: 0.725rem;

          & li a {
            text-decoration: none;
            transition: var(--transition);

            &:hover {
              opacity: 0.75;
            }
            &.active {
              color: var(--purple);
            }
          }
        }

        & .nl-form {
          width: 100%;
          display: flex;
          flex-direction: column;
          place-items: center;
          gap: 1rem;

          & input {
            max-width: 300px;
          }

          & button {
            background-color: var(--destructive);
            &:hover {
              background-color: var(--destructive-popover);
            }
          }
        }
      }
    }
  }

  & .divider {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--border);
  }

  & .copyright {
    width: 100%;
    height: max-content;
    padding-block: 0.5rem;
    & p {
      font-size: var(--sm);
      font-weight: 600;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1536px) {
  footer {
    & .contents-wrapper {
      max-width: 100%;
      padding-inline: 0.5rem;
    }
  }
  & .copyrightp {
    margin-block: 0.75rem;
  }
}

@media screen and (max-width: 1280px) {
  footer {
    & .contents-wrapper {
      max-width: 100%;
      padding: 4rem 1rem;
      & .group-1,
      .group-2 {
        gap: 0.5rem;
        & .contents-box {
          padding: 0.75rem;
          gap: 0.75rem;
          & .media-links {
            gap: 0.75rem;
          }
          & .footer-links {
            gap: 0.625rem;
          }
          & .nl-form {
            gap: 0.75rem;
          }
        }
      }
    }
  }
  & .copyrightp {
    margin-block: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    & .contents-wrapper {
      max-width: 100%;
      padding: 4rem 1rem;
      gap: 1.75rem;
      & .group-1,
      .group-2 {
        gap: 1.75rem;
        & .contents-box {
          padding: 0.75rem;
          gap: 0.75rem;
          & .media-links {
            gap: 0.75rem;
          }
          & .footer-links {
            gap: 0.625rem;
          }
          & .nl-form {
            gap: 0.75rem;
          }
        }
      }
    }
  }
  & .copyrightp {
    margin-block: 0.75rem;
  }
}

@media screen and (max-width: 814px) {
  footer {
    & .contents-wrapper {
      max-width: 100%;
      padding: 3.2rem 0.8rem;
      gap: 1.5rem;
      flex-direction: column;
      & .group-1,
      .group-2 {
        & .contents-box {
          padding: 0.625rem;
          gap: 0.625rem;
          & .media-links {
            gap: 0.625rem;
          }
          & .footer-links {
            gap: 0.625rem;
          }
          & .nl-form {
            gap: 0.625rem;
          }
        }
      }
    }
  }
  & .copyrightp {
    margin-block: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  footer {
    & .contents-wrapper {
      padding-block: 3rem;
      gap: 1.5rem;
      & .group-1,
      .group-2 {
        flex-direction: column;
        & .contents-box {
          font-size: var(--sm);
          padding: 0.5rem;
          gap: 0.5rem;
          & h5 {
            font-size: var(--md);
          }
          & .devs-intro {
            font-size: var(--sm);
          }
          & .media-links {
            font-size: var(--sm);
            gap: 0.75rem;
          }
          & .footer-links {
            font-size: var(--sm);
            gap: 0.5rem;
          }
          & .nl-form {
            font-size: var(--sm);
            gap: 0.5rem;
          }
        }
      }
    }
  }
  & .copyrightp {
    font-size: var(--sm);
    margin-block: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  footer .contents-wrapper {
    padding-block: 2.5rem;
    gap: 1rem;
    & .group-1,
    .group-2 .contents-box {
      padding: 0.25rem;
      gap: 0.25rem;
      & .media-links {
        gap: 0.5rem;
      }
      & .footer-links {
        gap: 0.25rem;
      }
      & .nl-form {
        gap: 0.25rem;
      }
    }
  }
  & .copyrightp {
    margin-block: 0.25rem;
  }
}
