footer {
  width: 100%;
  border-top: var(--border);
  background-color: var(--color-accent);
  & .footer__contents {
    min-height: initial;
    padding-block: clamp(2.5rem, 5vw, 5rem);
    margin-block: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(0.25rem, 1vw, 1rem);

    & .group-1,
    .group-2 {
      width: 100%;
      align-items: flex-start;
      gap: clamp(0.5rem, 0.75vw, 1rem);

      & .contents {
        width: 100%;

        & h5 {
          line-height: 1;
          margin: 0;
        }

        & .devs-intro {
          gap: clamp(0.25rem, 0.6vw, 0.625rem);
        }

        & .media-links {
          width: 100%;
          justify-content: center;
          & a i {
            font-size: var(--font-lg);
            transition: var(--transition-color);
            &:hover {
              color: var(--fuschia);
            }
          }
        }

        & .footer-links {
          list-style: none;
          width: 100%;
          gap: clamp(0.25rem, 0.6vw, 0.625rem);
          & li {
            width: 100%;
            & a.active {
              color: var(--purple);
            }
          }
        }

        & .nl-form {
          width: 100%;
          gap: clamp(0.25rem, 1vw, 1rem);
          & input {
            max-width: 300px;
          }
          & .subscribe {
            background-color: var(--color-error);
            &:hover {
              background-color: var(--error-popover);
            }
          }
        }
      }
    }
  }

  & .divider {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--border-color);
  }

  & .copyright {
    width: 100%;
    height: max-content;
    padding-block: 0.5rem;
    & p {
      font-size: var(--font-sm);
      font-weight: 500;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1536px) {
  footer .footer__contents {
    max-width: 100%;
    padding-inline: clamp(0.5rem, 1.5vw, 2rem);
  }
}

@media screen and (max-width: 1024px) {
  footer .footer__contents {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  footer .footer__contents {
    gap: 1.5rem;
    & .group-1,
    .group-2 {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
