nav {
  width: 100%;
  border-bottom: 1px dashed var(--border);
  background-color: oklch(0.95 0 0 / 75%);
  box-shadow: var(--shadow-bottom);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  &.disappear {
    transform: translateY(-100%);
    transition: all 250ms ease-in-out;
  }

  & .desktop {
    width: 100%;
    max-width: var(--max-width);
    height: fit-content;
    padding-block: 0.5rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & ul.left,
    ul.right {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;

      & li {
        width: max-content;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        &:hover {
          & a,
          button {
            opacity: 0.75;
            & i,
            svg {
              opacity: 7.5;
            }
          }
        }
        &.sign-out a {
          font-size: var(--md);
        }
        & a {
          text-decoration: none;
          text-transform: capitalize;
          transition: var(--transition);
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          &.active {
            color: var(--purple);
          }
        }
        & button {
          color: var(--foreground);
          background: transparent;
          width: fit-content;
          height: fit-content;
          padding: 0.3rem;
          border: 1px solid var(--border);
          border-radius: var(--radius);
          cursor: pointer;
          transition: all 250ms ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;

          & svg {
            width: 20px;
            height: 20px;
          }
        }
        & .profile-badge {
          width: initial;
          padding-left: 1rem;
          border: 0;
          border-radius: 3rem;
          outline: 2px solid var(--blue);
          background-color: var(--blue-trans);
          & a {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            & span {
              font-size: var(--xs);
              font-weight: 500;
            }
            & img {
              width: 32px;
              height: 32px;
              border: 1px solid var(--blue);
              border-radius: 50%;
              object-fit: cover;
              background-position: center center;
            }
          }
        }
      }
    }
    & ul.right {
      justify-content: flex-end;
    }
  }

  & .mobile {
    width: 100%;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;

    & .buttons {
      width: max-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      & button {
        color: var(--foreground);
        background: transparent;
        width: fit-content;
        height: fit-content;
        padding: 0.3rem;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        cursor: pointer;
        transition: all 250ms ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
          width: 20px;
          height: 20px;
        }
      }

      & #hamburger {
        border: 0;
        background: transparent;
        display: flex;
        place-items: center;
        cursor: pointer;
        transition: var(--transition);
        &.active {
          & i {
            color: var(--purple);
          }
        }
        &:hover {
          scale: 0.95;
          opacity: 0.7;
        }

        & i {
          color: var(--foreground);
          font-size: var(--lg);
        }
      }
    }
    & menu {
      width: 100%;
      border-bottom: 1px solid var(--border);
      border-radius: 0 0 0.5rem 0.5rem;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 999;
      transform: translate(100%, 1px);
      transition: all 500ms ease-out;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 0 0 0.5rem 0.5rem;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &.show {
        visibility: visible;
        transform: translate(0, 1px);
      }
      &.hide {
        visibility: hidden;
        transform: translate(100%, 1px);
      }

      & ul {
        list-style: none;
        width: 100%;
        height: 100%;
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & li {
          width: 100%;
          padding-block: 0.75rem;
          margin: 0;
          font-size: var(--nm);
          font-weight: 500;
          cursor: pointer;
          transition: all 250ms ease-in;
          &:not(:last-child) {
            border-bottom: 1px dashed var(--border);
          }
          &:hover {
            color: var(--popover-foreground);
            background-color: var(--popover);
            opacity: 0.75;
          }

          & a {
            text-decoration: none;
            transition: var(--transition);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            &.active {
              color: var(--purple);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  nav .desktop {
    padding-inline: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  nav .desktop {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    & .desktop {
      display: none;
    }
    & .mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 480px) {
  nav {
    background-color: var(--white-trans2);
    & .navbar__contain-box {
      height: 40px;
      padding: 0.25rem 0.5rem;
    }
  }
}
