.pagination {
  width: 100%;
  padding-inline: clamp(0.5rem, 0.8vw, 1rem);
  padding-block: clamp(0.25rem, 0.4vw, 0.5rem);
  & .prev__link,
  .next__link {
    padding-inline: clamp(0.75rem, 1.2vw, 1.5rem);
    padding-block: clamp(0.125rem, 0.2vw, 0.25rem);
    border: var(--border);
    color: var(--fg);
    font-size: var(--font-md);
    transition:
      color 250ms ease,
      background-color 250ms ease,
      box-shadow 250ms ease;
    &:hover {
      color: var(--fuchsia);
      background-color: var(--popover);
      box-shadow: var(--shadow-md);
    }
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      color: var(--fg-muted);
    }
  }

  & .page__number {
    color: var(--fg-muted);
    font-size: var(--font-sm);
  }
}

@media screen and (max-width: 480px) {
  .pagination .page__number {
    font-size: var(--font-xs);
  }
}
