.pagination_wrapper {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 1px dashed var(--border);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .prev_link,
  .next_link {
    color: var(--foreground);
    font-size: var(--md);
    padding: 0.375rem 1.25rem;
    border: 1px solid var(--border) !important;
    border-radius: var(--radius);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    &:hover {
      color: var(--popover-foreground);
      background-color: var(--popover);
    }
  }

  & .prev_link.disabled,
  .next_link.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--muted-foreground);
    border-color: var(--muted);
  }

  & .page_num {
    color: var(--muted-foreground);
    font-size: var(--sm);
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .pagination_wrapper {
    padding: 1.25rem 1rem;
    & .prev_link,
    .next_link {
      padding-inline: 1rem;
      & i {
        font-size: var(--md);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .pagination_wrapper {
    padding: 1rem 0.75rem;
    & .prev_link,
    .next_link {
      padding: 0.25rem 0.75rem;
      & i {
        font-size: var(--md);
      }
    }
    & .page_num {
      font-size: var(--sm);
    }
  }
}
@media screen and (max-width: 480px) {
  .pagination_wrapper {
    padding: 0.75rem 0.5rem;
    & .prev_link,
    .next_link {
      padding-inline: 0.5rem;
      & i {
        font-size: var(--nm);
      }
    }
    & .page_num {
      font-size: var(--xs);
    }
  }
}

@media screen and (max-width: 320px) {
  .pagination_wrapper {
    padding-inline: 0.25rem;
    & .prev_link,
    .next_link {
      padding-inline: 0.25rem;
      & i {
        font-size: var(--sm);
      }
    }
    & .page_num {
      font-size: var(--xs);
    }
  }
}
