search {
  width: 100%;
  max-width: 300px;

  & .search_form {
    width: 100%;
    height: max-content;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    background-color: var(--input);
    &:hover {
      color: var(--popover-foreground);
      background-color: var(--popover);
    }

    & button {
      width: 36px;
      height: 36px;
      padding: 0 0.2rem;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: var(--popover-foreground);
        background-color: var(--popover);
      }
    }

    & input {
      padding-inline: 0.5rem;
      border: none;
      outline: 0;
      background-color: transparent;
    }

    &:focus-within {
      outline: 2px solid var(--ring);
    }
  }
}

@media screen and (max-width: 1024px) {
  search {
    & .search_form {
      height: 38px;
      & input {
        padding: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  search {
    & .search_form {
      height: 32px;
      & input {
        font-size: var(--xs);
        &::placeholder {
          font-size: var(--xs);
        }
      }
      & button i {
        font-size: var(--nm);
      }
    }
  }
}
