search {
  width: initial;
  & .search__form {
    width: 100%;
    max-width: 300px;
    height: initial;
    padding: 0;
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--bg-input);
    box-shadow: var(--shadow-sm);
    justify-content: flex-start;
    transition: var(--transition);
    gap: 0;
    &:hover {
      color: var(--fg);
      background-color: var(--bg-popover);
      box-shadow: var(--shadow-md);
    }

    & .search__btn {
      width: initial;
      color: var(--fg-muted);
      padding: 0.25rem;
      border: none;
      margin-left: 0.5rem;
      background: transparent;
      display: flex;
      place-items: center;
      box-shadow: none;
      transition: var(--transition-color);
      &:hover {
        color: var(--fuchsia);
      }
    }

    & input {
      border: none;
      outline: 0;
      background-color: transparent;
    }

    &:focus-within {
      outline: 2px solid var(--ring);
    }
  }
}

/* @media screen and (max-width: 1024px) {
  search {
    & .search__form {
      height: 32px;
    }
  }
}

@media screen and (max-width: 480px) {
  search {
    & .search__form {
      height: 28px;
    }
  }
} */
