.user_page {
  width: 100%;
  min-height: 100dvh;
  transform: translateY(60px);
  display: flex;
  flex-direction: column;
  & .user-header {
    width: 100%;
    min-height: 400px;
    background: var(--amber-grad);
  }
}
