<main>
  <%- include('../../components/back-btn.ejs') %>
    <div class="add_post-wrapper">
      <div class="add_post-card">
        <h4>Add new post</h4>
        <form action="/users/dashboard/add" method="post" enctype="multipart/form-data">
          <label for="title"><b>Title</b></label>
          <input type="text" name="title" placeholder="Enter your post title here ..." />

          <label for="blogImage"><b>Cover Image</b><small>(Optional)</small></label>
          <input type="file" name="blogImage" accept="image/*" />

          <label for="descriptions"><b>Contents</b></label>
          <textarea name="descriptions" id="addPostTextArea" placeholder="Enter your post contents here ..."></textarea>
          <button type="submit">
            <i class="fa-solid fa-plus"></i>
            Add Post
          </button>
        </form>
        <script>
          tinymce.init({
            selector: '#addPostTextArea',
            plugins: [
              // Core editing features
              'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
              // Your account includes a free trial of TinyMCE premium features
              // Try the most popular premium features until Jun 13, 2025:
              'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',

            // Configurations for image uploads
            images_upload_url: '/api/images/upload',
            images_upload_credentials: true,
            images_reuse_filename: true,

            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
              { value: 'First.Name', title: 'First Name' },
              { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
          });
        </script>
      </div>
    </div>
</main>

<%- include('../../partials/footer.ejs') %>