<main>
  <header class="user_page-header">
    <h2>Welcome to user profile</h2>
    <p></p>
  </header>
  <a href="/users/dashboard" class="btn">Go to Dashboard</a>
</main>

<%- include('../../partials/footer.ejs') %>
