<main class="about">
  <div class="about-logo_wrapper">
    <img src="/images/blogify-original.png" alt="Blogify's logo" width="400" height="400">
    <h1>Blogify</h1>
    <h4>Discover, express, and share your stories with the world. From personal reflections to professional insights,
      Blogify is where your thoughts find a home.</h4>
  </div>
  <div class="about-intro_wrapper">
    <h4>About us</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
      specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="about-vision_wrapper">
    <h4>Our vision</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
      specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
      specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
      essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</main>

<%- include('../partials/footer.ejs') %>