<main>
  <%- include('../partials/banner.ejs') %>
  <%- include('../partials/latest-blogs.ejs') %>
      <!-- <%- include('../partials/hero-image.ejs') %> -->
</main>

<%- include('../partials/footer.ejs') %>